@charset "utf-8";
.alert-warning {
	background-color: #fcf8e3;
	color: #8a6d3b;
	border: 1px solid #faebcc;
}
.alert-error,
.alert-success,
.alert-warning {
	padding: 10px 15px;
	margin: 15px auto;
	border-radius: 4px;
}
.alert-success {
	background-color: #dff0d8;
	color: #3c763d;
	border: 1px solid #d6e9c6;
}
.alert-error {
	background-color: #f2dede;
	color: #a94442;
	border: 1px solid #ebccd1;
}