@charset "utf-8";
/*dropmenu*/
.dropdown-wrap {
    display: inline-block;
    position: relative;
}
.dropdown-select,
.dropdown-label {
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.dropdown-select .ipt {
    cursor: pointer;
    background: none;
    position: relative;
    padding-left: 12px;
    z-index: 1;
}
.dropdown-select:after,
.dropdown-label:after {
    content: "\e603";
    font-family: "ui-icons";
    position: absolute;
    right: 12px;
    top: 4px;
    color: #DBDEE0;
    cursor: pointer;
    z-index: 2;
}
.dropdown-label {
    padding: 0 30px 0 15px;
    line-height: 32px;
    vertical-align: middle;
}
.dropdown-label:after {
    top: 0;
}
.dropdown-disabled {
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.dropdown-disabled .dropdown-select,
.dropdown-disabled .dropdown-label,
.dropdown-disabled .dropdown-select .ipt {
    cursor: default;
}

.dropdown-menu {
    display: none;
    position: absolute;
    width: 100%;
    min-width: 100px;
    max-height: 240px;
    overflow: auto;
    top: 36px;
    right: auto;
    left: 0;
    text-align: left;
    font-weight: normal;
    -webkit-box-shadow: 1px 2px 14px rgba(0, 0, 0, 0.11);
    box-shadow: 1px 2px 14px rgba(0, 0, 0, 0.11);
}
.dropdown-menu .prefix-arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 1px solid;
    border-color: #f4f4f4 #f4f4f4 transparent transparent;
    top: -6px;
    left: 50%;
    margin-left: -3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.dropdown-menu h3 {
    font-weight: normal;
    line-height: 30px;
    padding-left: 15px;
    border-bottom: 1px #f5f4f4 solid;
    font-size: 14px;
    color: #333;
}
.dropdown-menu ul,
.dropdown-menu div.options {
    width: auto;
    border: 0;
    background-color: #fff;
}
.dropdown-menu li {
    padding: 0 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
.dropdown-menu li,
.dropdown-menu li a {
    display: block;
    line-height: 40px;
    color: #9fa3b0;
}
.dropdown-menu li:not(.nodata):hover,
.dropdown-menu li a:hover {
    background-color: #f2f5fa;
    color: #151B26;
}
.dropdown-menu li.selected,
.dropdown-menu li.selected:hover,
.dropdown-menu li a.selected,
.dropdown-menu li a.selected:hover {
    color: #5dd5c8;
}
.dropdown-menu li .text-small {
    font-size: 12px;
}
.dropdown-menu-open .dropdown-menu {
    display: block;
    z-index: 7;
}
.dropdown-menu-open .dropdown-select:after,
.dropdown-menu-open .dropdown-label:after {
    transform: rotate(180deg);
}
.options-suggestion {
    display: none;
}
.show-suggestion .options-suggestion {
    display: block;
}
.show-suggestion .options {
    display: none;
}
.dropdown-wrap .fade-enter-active,
.dropdown-wrap .fade-leave-active {
    transition: opacity .15s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.dropdown-wrap .fade-enter,
.dropdown-wrap .fade-leave-to {
    opacity: 0;
}

/*在操作元素上方显示*/
.direction-up .dropdown-menu {
    top: auto;
    bottom: 36px;
}
