@charset "utf-8";
/*tooltip*/

.tooltip {
	position: relative;
	display: inline-block;
}
.tooltip:after,
.tooltip:before,
.tooltip-content {
	position: absolute;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	visibility: hidden;
	opacity: 0;
	z-index: 1000000;
	pointer-events: none;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	transition: .3s ease;
	-webkit-transition-delay: 0ms;
	-moz-transition-delay: 0ms;
	transition-delay: 0ms
}
.tooltip:hover:after,
.tooltip:hover:before,
.tooltip:hover .tooltip-content {
	visibility: visible;
	opacity: 1;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms
}
.tooltip:before {
	content: '';
	position: absolute;
	background: 0 0;
	border: 6px solid transparent;
	z-index: 1000001
}
.tooltip:after,
.tooltip-content {
	background: #2F4050;
	color: #fff;
	padding: 8px 10px;
	font-size: 12px;
	line-height: 12px;
	white-space: nowrap;
	box-shadow: 1px 2px 8px rgba(0,0,0,.3)
}
.tooltip[aria-label]:after {
	content: attr(aria-label)
}

[aria-label='']:after,
[aria-label='']:before{
	display: none!important
}

.tooltip-top-left:before,
.tooltip-top-right:before,
.tooltip-top:before {
	border-top-color: #2F4050
}

.tooltip-bottom-left:before,
.tooltip-bottom-right:before,
.tooltip-bottom:before {
	border-bottom-color: #2F4050
}

.tooltip-top:after,
.tooltip-top:before,
.tooltip-top .tooltip-content {
	bottom: 100%;
	left: 50%
}

.tooltip-top:before {
	margin-bottom: -11px;
	left: calc(50% - 6px)
}

.tooltip-top:after,
.tooltip-top .tooltip-content {
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%)
}

.tooltip-top:focus:before,
.tooltip-top:hover:before {
	-webkit-transform: translateY(-8px);
	-moz-transform: translateY(-8px);
	transform: translateY(-8px)
}

.tooltip-top:focus:after,
.tooltip-top:hover:after,
.tooltip-top:hover .tooltip-content {
	-webkit-transform: translateX(-50%) translateY(-8px);
	-moz-transform: translateX(-50%) translateY(-8px);
	transform: translateX(-50%) translateY(-8px)
}

.tooltip-bottom:after,
.tooltip-bottom:before,
.tooltip-bottom .tooltip-content {
	top: 100%;
	left: 50%
}

.tooltip-bottom:before {
	margin-top: -11px;
	left: calc(50% - 6px)
}

.tooltip-bottom:after,
.tooltip-bottom .tooltip-content {
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%)
}

.tooltip-bottom:focus:before,
.tooltip-bottom:hover:before {
	-webkit-transform: translateY(8px);
	-moz-transform: translateY(8px);
	transform: translateY(8px)
}

.tooltip-bottom:focus:after,
.tooltip-bottom:hover:after,
.tooltip-bottom:hover .tooltip-content {
	-webkit-transform: translateX(-50%) translateY(8px);
	-moz-transform: translateX(-50%) translateY(8px);
	transform: translateX(-50%) translateY(8px)
}

.tooltip-right:before {
	border-right-color: #2F4050;
	margin-left: -11px;
	margin-bottom: -6px
}

.tooltip-right:after,
.tooltip-right .tooltip-content {
	margin-bottom: -14px
}

.tooltip-right:after,
.tooltip-right:before,
.tooltip-right .tooltip-content {
	left: 100%;
	bottom: 50%
}

.tooltip-right:focus:after,
.tooltip-right:focus:before,
.tooltip-right:hover:after,
.tooltip-right:hover:before,
.tooltip-right:hover .tooltip-content {
	-webkit-transform: translateX(8px);
	-moz-transform: translateX(8px);
	transform: translateX(8px)
}

.tooltip-left:before {
	border-left-color: #2F4050;
	margin-right: -11px;
	margin-bottom: -6px
}

.tooltip-left:after,
.tooltip-left .tooltip-content {
	margin-bottom: -14px
}

.tooltip-left:after,
.tooltip-left:before,
.tooltip-left .tooltip-content {
	right: 100%;
	bottom: 50%
}

.tooltip-left:focus:after,
.tooltip-left:focus:before,
.tooltip-left:hover:after,
.tooltip-left:hover:before,
.tooltip-left:hover .tooltip-content  {
	-webkit-transform: translateX(-8px);
	-moz-transform: translateX(-8px);
	transform: translateX(-8px)
}

.tooltip-top-left:after,
.tooltip-top-left:before,
.tooltip-top-left .tooltip-content {
	bottom: 100%;
	left: 50%
}

.tooltip-top-left:before {
	margin-bottom: -11px;
	left: calc(50% - 6px)
}

.tooltip-top-left:after,
.tooltip-top-left .tooltip-content {
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	transform: translateX(-100%);
	margin-left: 12px
}

.tooltip-top-left:focus:before,.tooltip-top-left:hover:before {
	-webkit-transform: translateY(-8px);
	-moz-transform: translateY(-8px);
	transform: translateY(-8px)
}

.tooltip-top-left:focus:after,
.tooltip-top-left:hover:after,
.tooltip-top-left:hover .tooltip-content {
	-webkit-transform: translateX(-100%) translateY(-8px);
	-moz-transform: translateX(-100%) translateY(-8px);
	transform: translateX(-100%) translateY(-8px)
}

.tooltip-top-right:after,
.tooltip-top-right:before,
.tooltip-top-right .tooltip-content {
	bottom: 100%;
	left: 50%
}

.tooltip-top-right:before {
	margin-bottom: -11px;
	left: calc(50% - 6px)
}

.tooltip-top-right:after,
.tooltip-top-right .tooltip-content {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	transform: translateX(0);
	margin-left: -12px
}

.tooltip-top-right:focus:after,
.tooltip-top-right:focus:before,
.tooltip-top-right:hover:after,
.tooltip-top-right:hover:before,
.tooltip-top-right:hover .tooltip-content {
	-webkit-transform: translateY(-8px);
	-moz-transform: translateY(-8px);
	transform: translateY(-8px)
}

.tooltip-bottom-left:after,
.tooltip-bottom-left:before,
.tooltip-bottom-left .tooltip-content {
	top: 100%;
	left: 50%
}

.tooltip-bottom-left:before {
	margin-top: -11px;
	left: calc(50% - 6px)
}

.tooltip-bottom-left:after,
.tooltip-bottom-left .tooltip-content {
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	transform: translateX(-100%);
	margin-left: 12px
}

.tooltip-bottom-left:focus:before,
.tooltip-bottom-left:hover:before {
	-webkit-transform: translateY(8px);
	-moz-transform: translateY(8px);
	transform: translateY(8px)
}

.tooltip-bottom-left:focus:after,
.tooltip-bottom-left:hover:after,
.tooltip-bottom-left:hover .tooltip-content {
	-webkit-transform: translateX(-100%) translateY(8px);
	-moz-transform: translateX(-100%) translateY(8px);
	transform: translateX(-100%) translateY(8px)
}

.tooltip-bottom-right:after,
.tooltip-bottom-right:before,
.tooltip-bottom-right .tooltip-content {
	top: 100%;
	left: 50%
}

.tooltip-bottom-right:before {
	margin-top: -11px;
	left: calc(50% - 6px)
}

.tooltip-bottom-right:after,
.tooltip-bottom-right .tooltip-content {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	transform: translateX(0);
	margin-left: -12px
}

.tooltip-bottom-right:focus:after,
.tooltip-bottom-right:focus:before,
.tooltip-bottom-right:hover:after,
.tooltip-bottom-right:hover:before,
.tooltip-bottom-right:hover .tooltip-content {
	-webkit-transform: translateY(8px);
	-moz-transform: translateY(8px);
	transform: translateY(8px)
}



.popover {
	display: inline-block;
	position: relative;
}
.popover-wrap {
	position: absolute;
	z-index: 999;
	border: 1px #e7e9ee solid;
	-webkit-box-shadow: 0 2px 8px rgba(0,0,0,.08);
    box-shadow: 0 2px 8px rgba(0,0,0,.08);
}
.popover-wrap:before {
	content: '';
	position: absolute;
	width:12px;
	height:12px;
	left: calc(50% - 6px);
	background:#fff;
}
.popover-wrap:before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	box-shadow: -1px -1px 10px rgba(0,0,0,.09);
}
.popover-content {
	position: relative;
	background-color: #fff;
    padding: 5px 10px;
    word-break: break-all;
}
.popover-top .popover-wrap {
	bottom: calc(100% + 8px);
	left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.popover-top .popover-wrap:before {
	top: calc(100% - 8px);
}
.popover-top-left .popover-wrap {
	bottom: calc(100% + 8px);
	left: auto;
	right: calc(50% - 20px);
}
.popover-top-left .popover-wrap:before {
	top: calc(100% - 8px);
	left: auto;
	right: 12px;
}
.popover-top-right .popover-wrap {
	bottom: calc(100% + 8px);
	left: calc(50% - 18px);
}
.popover-top-right .popover-wrap:before {
	top: calc(100% - 8px);
	left: 12px;
}


.popover-bottom .popover-wrap {
	top: calc(100% + 8px);
	left: 50%;
	-webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    min-width: 150px;
}
.popover-bottom .popover-wrap:before {
	bottom: calc(100% - 8px);
}
.popover-bottom-left .popover-wrap {
	top: calc(100% + 8px);
	left: auto;
	right: calc(50% - 20px);
}
.popover-bottom-left .popover-wrap:before {
	bottom: calc(100% - 8px);
	left: auto;
	right: 12px;
}
.popover-bottom-right .popover-wrap {
	top: calc(100% + 8px);
	left: calc(50% - 18px);
}
.popover-bottom-right .popover-wrap:before {
	bottom: calc(100% - 8px);
	left: 12px;
}



.popover-left .popover-wrap {
	right: calc(100% + 8px);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.popover-left .popover-wrap:before {
	left: calc(100% - 8px);
	top: calc(50% - 6px);
}
.popover-right .popover-wrap {
	left: calc(100% + 8px);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.popover-right .popover-wrap:before {
	left: auto;
	right: calc(100% - 8px);
	bottom: calc(50% - 6px);
}
.position-top-left:before {
	top: calc(100% - 8px);
	left: auto;
	right: 12px;
}
.position-top-right:before {
	top: calc(100% - 8px);
	left: 12px;
}
.position-bottom-left:before {
	bottom: calc(100% - 8px);
	left: auto;
	right: 12px;
}
.position-bottom-right:before {
	bottom: calc(100% - 8px);
	left: 12px;
}



.position-top:before {
	top: calc(100% - 8px);
}
.position-bottom:before {
	bottom: calc(100% - 8px);
}
.position-left:before {
	left: calc(100% - 8px);
	top: calc(50% - 6px);
}
.position-right:before {
	left: auto;
	right: calc(100% - 8px);
	bottom: calc(50% - 6px);
}


.popover-dark .popover-content {
	background-color: #2F4050;
	color: #fff;
}
.popover-dark:before {
	background: #2F4050;
}


/* 以下使用到的可能性比较小，如果有用到再酌情打开注释 */
/*
.tooltip-large:after,.tooltip-medium:after,.tooltip-small:after {
	white-space: normal;
	line-height: 1.4em
}

.tooltip-small:after {
	width: 80px
}

.tooltip-medium:after {
	width: 150px
}

.tooltip-large:after {
	width: 300px
}

.tooltip-error:after {
	background-color: #b34e4d;
	text-shadow: 0 -1px 0 #592726
}

.tooltip-error.tooltip-top-left:before,.tooltip-error.tooltip-top-right:before,.tooltip-error.tooltip-top:before {
	border-top-color: #b34e4d
}

.tooltip-error.tooltip-bottom-left:before,.tooltip-error.tooltip-bottom-right:before,.tooltip-error.tooltip-bottom:before {
	border-bottom-color: #b34e4d
}

.tooltip-error.tooltip-left:before {
	border-left-color: #b34e4d
}

.tooltip-error.tooltip-right:before {
	border-right-color: #b34e4d
}

.tooltip-warning:after {
	background-color: #c09854;
	text-shadow: 0 -1px 0 #6c5328
}

.tooltip-warning.tooltip-top-left:before,.tooltip-warning.tooltip-top-right:before,.tooltip-warning.tooltip-top:before {
	border-top-color: #c09854
}

.tooltip-warning.tooltip-bottom-left:before,.tooltip-warning.tooltip-bottom-right:before,.tooltip-warning.tooltip-bottom:before {
	border-bottom-color: #c09854
}

.tooltip-warning.tooltip-left:before {
	border-left-color: #c09854
}

.tooltip-warning.tooltip-right:before {
	border-right-color: #c09854
}

.tooltip-info:after {
	background-color: #3986ac;
	text-shadow: 0 -1px 0 #1a3c4d
}

.tooltip-info.tooltip-top-left:before,.tooltip-info.tooltip-top-right:before,.tooltip-info.tooltip-top:before {
	border-top-color: #3986ac
}

.tooltip-info.tooltip-bottom-left:before,.tooltip-info.tooltip-bottom-right:before,.tooltip-info.tooltip-bottom:before {
	border-bottom-color: #3986ac
}

.tooltip-info.tooltip-left:before {
	border-left-color: #3986ac
}

.tooltip-info.tooltip-right:before {
	border-right-color: #3986ac
}

.tooltip-success:after {
	background-color: #458746;
	text-shadow: 0 -1px 0 #1a321a
}

.tooltip-success.tooltip-top-left:before,.tooltip-success.tooltip-top-right:before,.tooltip-success.tooltip-top:before {
	border-top-color: #458746
}

.tooltip-success.tooltip-bottom-left:before,.tooltip-success.tooltip-bottom-right:before,.tooltip-success.tooltip-bottom:before {
	border-bottom-color: #458746
}

.tooltip-success.tooltip-left:before {
	border-left-color: #458746
}

.tooltip-success.tooltip-right:before {
	border-right-color: #458746
}

.tooltip-always:after,.tooltip-always:before {
	opacity: 1;
	visibility: visible
}

.tooltip-always.tooltip-top:before {
	-webkit-transform: translateY(-8px);
	-moz-transform: translateY(-8px);
	transform: translateY(-8px)
}

.tooltip-always.tooltip-top:after {
	-webkit-transform: translateX(-50%) translateY(-8px);
	-moz-transform: translateX(-50%) translateY(-8px);
	transform: translateX(-50%) translateY(-8px)
}

.tooltip-always.tooltip-top-left:before {
	-webkit-transform: translateY(-8px);
	-moz-transform: translateY(-8px);
	transform: translateY(-8px)
}

.tooltip-always.tooltip-top-left:after {
	-webkit-transform: translateX(-100%) translateY(-8px);
	-moz-transform: translateX(-100%) translateY(-8px);
	transform: translateX(-100%) translateY(-8px)
}

.tooltip-always.tooltip-top-right:after,.tooltip-always.tooltip-top-right:before {
	-webkit-transform: translateY(-8px);
	-moz-transform: translateY(-8px);
	transform: translateY(-8px)
}

.tooltip-always.tooltip-bottom:before {
	-webkit-transform: translateY(8px);
	-moz-transform: translateY(8px);
	transform: translateY(8px)
}

.tooltip-always.tooltip-bottom:after {
	-webkit-transform: translateX(-50%) translateY(8px);
	-moz-transform: translateX(-50%) translateY(8px);
	transform: translateX(-50%) translateY(8px)
}

.tooltip-always.tooltip-bottom-left:before {
	-webkit-transform: translateY(8px);
	-moz-transform: translateY(8px);
	transform: translateY(8px)
}

.tooltip-always.tooltip-bottom-left:after {
	-webkit-transform: translateX(-100%) translateY(8px);
	-moz-transform: translateX(-100%) translateY(8px);
	transform: translateX(-100%) translateY(8px)
}

.tooltip-always.tooltip-bottom-right:after,.tooltip-always.tooltip-bottom-right:before {
	-webkit-transform: translateY(8px);
	-moz-transform: translateY(8px);
	transform: translateY(8px)
}

.tooltip-always.tooltip-left:after,.tooltip-always.tooltip-left:before {
	-webkit-transform: translateX(-8px);
	-moz-transform: translateX(-8px);
	transform: translateX(-8px)
}

.tooltip-always.tooltip-right:after,.tooltip-always.tooltip-right:before {
	-webkit-transform: translateX(8px);
	-moz-transform: translateX(8px);
	transform: translateX(8px)
}

.tooltip-rounded:after {
	border-radius: 4px
}

.tooltip-no-animate:after,.tooltip-no-animate:before {
	-webkit-transition-duration: 0ms;
	-moz-transition-duration: 0ms;
	transition-duration: 0ms
}

.tooltip-bounce:after,.tooltip-bounce:before {
	-webkit-transition: opacity .3s ease,visibility .3s ease,-webkit-transform .3s cubic-bezier(.71,1.7,.77,1.24);
	-moz-transition: opacity .3s ease,visibility .3s ease,-moz-transform .3s cubic-bezier(.71,1.7,.77,1.24);
	transition: opacity .3s ease,visibility .3s ease,transform .3s cubic-bezier(.71,1.7,.77,1.24)
}*/